h4 {
  margin-bottom: 25px;
}

fieldset {
  display: inline;
  
}

.wrapper {
  height: 200%;
  width: 200%;
  margin: 0;
  border: 0;
  padding: 0;
  background-color: white;
}

.input-box-fieldset, .pub-priv-box-fieldset {
  width: 450px;
  text-align: center;
  padding-bottom: 30px;
}

.input-boxes {
  padding:10px;
  width: 400px;
}

.container {
  background-color: white;
  font-size: 30px;
  font-family: 'Inter';
  display: flex;
}

.form-container {
  padding-left: 50px;
  padding-top: 20px;
  padding-right:450px;
  background-color: white;
}

.upload-container {
  padding-top: 250px;
}

.publish-button {
  padding: 20px;
  color: white;
  background: rgba(79, 0, 218);
}

.save-button {
  padding: 20px;
  color: white;
  background: rgba(46, 0, 150);
}