html, body{
    /* background of page */
    background-color: #EE6123;
    margin: 0;
    width: auto;
    height: auto;
    overflow: auto;

    /* page text */
    font-size: 30px;
    font-family: 'Inter';
}
