html {
    background-color: #EE6123;
    width: auto;
    height: auto;
    overflow: auto;
}

#MainText {
    /* background of page */
    background-color: #EE6123;
    margin: 0;

    /* page text */
    font-size: 30px;
    font-family: 'Inter';
    text-align: center;

    padding-top: 125px;
}

.buttons{
    background-color: #2E0096;
    color: white;

    font-size: 30px;
    text-decoration: none;

    width: 400px;
    height: 115px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 80px;
    padding-right: 80px;
    border-radius: 8px;
}

#HomeLogo{
    background-color: white;
    border-radius: 50%;
    padding: 7px;

    height: 100px;
    width: 100px;

    top: 150px;
    left: 10px;
    position: absolute;
    overflow: hidden;
}

.Title{
    position: absolute;
    top: 135px;
    left: 150px;
    color: rgb(255, 255, 255, 0.8);
}

.Text{
    font-size: 80px;
    color: white;
    padding-top: 30px;
}