html, body{
  /* background of page */
  background-color: #EE6123;
  margin: 0;
  width: auto;
  height: auto;
  overflow: auto;

  /* page text */
  font-size: 30px;
  font-family: 'Inter';
}
button{
  background-color: #2E0096;
  color: white;

  font-size: 30px;

  width: 400px;
  height: 115px;
  border-radius: 8px;
}